In [177]:
%config IPCompleter.greedy=True  #Para permitir el autocompletado en Jupyter

# 1. Funci√≥n read_csv

Importamos los paquetes necesarios:

In [178]:
import pandas as pd

In [179]:
mainpath = "/Users/irene/Documents/GitHub/python-ml-course/datasets"  #Ruta ficheros
filename1 = "titanic/titanic3.csv" #Fichero a abrir
fullpath1 = mainpath + "/" + filename1 #Ruta completa

df1 = pd.read_csv(fullpath1)

In [180]:
df1.head() #Para visualizar parte de la tabla

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# 2. Carga de ficheros XLS y XLSX

In [181]:
filename2 = "titanic/titanic3.xls"  #Fichero xls
filename3 = "titanic/titanic3.xlsx"  #Fichero xlsx

fullpath2 = mainpath + "/" + filename2
fullpath3 = mainpath + "/" + filename3

In [182]:
df2 = pd.read_excel(fullpath2, "titanic3") #Indicar el nombre de la pesta√±a en Excel (2¬∫ par√°metro)
df3 = pd.read_excel(fullpath3, "titanic3")

df2.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [183]:
# Modificamos el formato del archivo:

df2.to_csv(mainpath + "/titanic/titanic_custom2.csv") #.xls to .csv
df3.to_excel(mainpath + "/titanic/titanic_custom2.xls") #.xlsx to .xls

# 3. Funci√≥n open

Para cargar datasets MUY pesados (>15GB)
- <b>Ventaja:</b> m√°s √≥ptimo que pandas ya que no carga el dataset de golpe, si no l√≠nea a l√≠nea
- <b>Inconveniente:</b> tienes que crear manualmente la tabla.

In [184]:
filename4 = "customer-churn-model/Customer Churn Model.txt" # Fichero a abrir 
fullpath4 = mainpath + "/" + filename4 # Ruta completa

<b>Cuidado:</b> si abres el archivo en modo escritura (w) podr√≠as borrar su contenido

In [185]:
df4 = open(fullpath4, 'r') # Abrimos el fichero en modo lectura (r)

Recorremos cada l√≠nea del dataset para convertirlo en un String con:

- next -> para leer de l√≠nea en l√≠nea
- strip -> quita espacios, reconoce tabuladores y saltos de l√≠nea (ej: \t o \n)
- split -> usa el delimitador (,) para separar los valores obtenidos

<b>CONCLUSI√ìN:</b> La 1¬™ l√≠nea obtenida corresponde a los nombres de las columnas -> por ende, el n¬∫ que obtengamos de valores en esa l√≠nea, es igual al n¬∫ de columnas.

In [186]:
cols = next(df4).strip().split(",") #valor por l√≠nea
n_cols = len(cols) #n√∫mero de valores por l√≠nea
cols #valor por l√≠nea

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [187]:
n_cols #n√∫mero de valores por l√≠nea

21

In [188]:
#Construimos manualmente la tabla

counter = 0
main_dict = {}  #Creamos un diccionario = par-valor para asignar un valor a su par en cada columna.
for col in cols:  #Para cada columna de cada uno de los 21 valores x l√≠nea que hemos obtenido
    main_dict[col]=[]  #A√±√°dele un hueco
    
for line in df4:  #Para cada l√≠nea del dataset 
    values = line.strip().split(",")  #Divide el string en valores (values) con strip y split.
    for i in range (n_cols):  #Para cada columna que corresponda a esa l√≠nea 
        main_dict[cols[i]].append(values[i])  #As√≠gnale el valor de esa columnaxl√≠nea -> ej: 3x3 = Blanco
    counter += 1

print("El Dataset tiene %d filas y %d columnas" %(counter,n_cols))

df5 = pd.DataFrame(main_dict)  #La funci√≥n DataFrame crea una tabla con los valores del diccionario
df5.head()

El Dataset tiene 3333 filas y 21 columnas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

# 4. A trav√©s de una URL

### 1. Empleando la librer√≠a - "pandas":

In [189]:
medals_url = "http://winterolympicsmedals.com/medals.csv" # Dataset de las medallas x pa√≠s en las olimpiadas

In [190]:
df6 = pd.read_csv(medals_url)
df6.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

### 2. Empleando la librer√≠a - "urllib3" y construyendo manualmente la tabla

In [191]:
#primero importamos la librer√≠a y hacemos la conexi√≥n con la web de los datos
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
print("El estado de la respuesta es %d" %(r.status))
response = r.data
    
#El objeto reponse contiene un string binario, as√≠ que lo convertimos a un string descodific√°ndolo en UTF-8
str_data = response.decode('utf-8')

#Dividimos el string en un array de filas, separ√°ndolo por intros
lines = str_data.split('\n')

#La primera l√≠nea contiene la cabecera, as√≠ que la extraemos
col_names = lines[0].split(",")
n_cols = len(col_names)

#Generamos un diccionario vac√≠o donde ir√° la informaci√≥n procesada desde la URL externa
counter = 0
main_dict = {}
for col in col_names:
    main_dict[col] = []

#Procesamos fila a fila la informaci√≥n para ir rellenando el diccionario con los datos como hicimos antes
for line in lines:
    #Nos saltamos la primera l√≠nea que es la que contiene la cabecera y ya tenemos procesada
    if(counter > 0):
        #Dividimos cada string por las comas como elemento separador
        values = line.strip().split(",")
        #A√±adimos cada valor a su respectiva columna del diccionario
        for i in range(len(col_names)):
            main_dict[col_names[i]].append(values[i])
    counter += 1

print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))

#Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
df7 = pd.DataFrame(main_dict)
print(df7.head())

#Elegimos donde guardarlo (en la carpeta athletes es donde tiene m√°s sentido por el contexto del an√°lisis)
filename5 = "athletes/downloaded_medals_irene."
fullpath5 = mainpath + "/" + filename5

#Lo guardamos en CSV, en JSON o en Excel seg√∫n queramos
df7.to_csv(fullpath+"csv")
df7.to_json(fullpath+"json")
df7.to_excel(fullpath+"xls")
print("Los ficheros se han guardado correctamente en: " + fullpath5)

El estado de la respuesta es 200
El data set tiene 2311 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold
Los ficheros se han guardado correctamente en: /Users/irene/Documents/GitHub/python-ml-course/datasets/athletes/downloaded_medals_irene.

### 3. Empleando las librer√≠as - "io", "urllib3":

Ejemplo previo resuelto de una manera m√°s sencilla.

Documentaci√≥n:
- io: https://docs.python.org/es/dev/library/io.html
- Urllib3: https://urllib3.readthedocs.io/en/latest/user-guide.html#response-content

In [192]:
import urllib3 # Para importar desde URLs
import io # Para formatear

In [193]:
http = urllib3.PoolManager() # Creamos un PoolManager -> se encarga de hacer las requests
r = http.request('GET', medals_url) # Hacemos Request a la URL

response = r.data # El objeto response contiene un string binario
type(response) # Lo comprobamos

bytes

In [194]:
#byts to string
str_data = response.decode("utf-8") # Convertimos el string binario a string descodific√°ndolo con UTF-8

#string to stringIO
data = io.StringIO(str_data) #string to stringIO

df8 = pd.read_csv(data, sep=",")
df8.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

### 4. Creamos una funci√≥n

Empleamos la l√≥gica del Apartado 2 para crear una funci√≥n, que obteniendo unos par√°metros genera una salida.

In [218]:
def downloadFromURL(url, filename, sep, delim, encoding, mainpath): #Para definir una funci√≥n y sus par√°metros de entrada

    #Identamos todo para indicar que se haya dentro de la funci√≥n
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data

    #El objeto response contiene un string binario, as√≠ que lo convertimos a un string descodific√°ndolo en UTF-8
    str_data = response.decode(encoding)    
    print("El objeto str_data es:")
    print(str_data)
    print(type(str_data))

    #Dividimos el string en un array de filas, separ√°ndolo por intros
    lines = str_data.split(delim)
    print("El objeto lines es:")
    print(lines)
    print(type(lines))
    
    #La primera l√≠nea contiene la cabecera, as√≠ que la extraemos
    cols = lines[0].split(sep)
    n_cols = len(cols)
    print(cols)
    
    #Generamos un diccionario vac√≠o donde ir√° la informaci√≥n procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in cols:
        main_dict[col] = []
        
    #Procesamos fila a fila la informaci√≥n para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera l√≠nea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            #A√±adimos cada valor a su respectiva columna del diccionario
            for i in range(len(cols)):
                main_dict[cols[i]].append(values[i])
        counter += 1
    
    print(cols, n_cols)
    print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))
    
    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df9 = pd.DataFrame(main_dict)
    print(df9.head())
    
    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene m√°s sentido por el contexto del an√°lisis)
    fullpath5 = mainpath + "/" + filename5

    #Lo guardamos en CSV, en JSON o en Excel seg√∫n queramos
    df9.to_csv(fullpath+".csv")
    df9.to_json(fullpath+".json")
    df9.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+ fullpath)
    
    #Para indicar que la funci√≥n ha acabado hay que poner un return
    return df9

Ahora yo puedo llamar a la funci√≥n, pas√°ndole los par√°metros

In [219]:
# Llamamos a la funci√≥n

df10 = downloadFromURL("https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv","irene/trialirene",",","\n","utf-8", "/Users/irene/Documents/GitHub/python-ml-course/datasets")
df10.head()

El estado de la respuesta es 200
El objeto str_data es:
"Index", Height(Inches)", "Weight(Pounds)"
1, 65.78, 112.99
2, 71.52, 136.49
3, 69.40, 153.03
4, 68.22, 142.34
5, 67.79, 144.30
6, 68.70, 123.30
7, 69.80, 141.49
8, 70.01, 136.46
9, 67.90, 112.37
10, 66.78, 120.67
11, 66.49, 127.45
12, 67.62, 114.14
13, 68.30, 125.61
14, 67.12, 122.46
15, 68.28, 116.09
16, 71.09, 140.00
17, 66.46, 129.50
18, 68.65, 142.97
19, 71.23, 137.90
20, 67.13, 124.04
21, 67.83, 141.28
22, 68.88, 143.54
23, 63.48, 97.90
24, 68.42, 129.50
25, 67.63, 141.85
26, 67.21, 129.72
27, 70.84, 142.42
28, 67.49, 131.55
29, 66.53, 108.33
30, 65.44, 113.89
31, 69.52, 103.30
32, 65.81, 120.75
33, 67.82, 125.79
34, 70.60, 136.22
35, 71.80, 140.10
36, 69.21, 128.75
37, 66.80, 141.80
38, 67.66, 121.23
39, 67.81, 131.35
40, 64.05, 106.71
41, 68.57, 124.36
42, 65.18, 124.86
43, 69.66, 139.67
44, 67.97, 137.37
45, 65.98, 106.45
46, 68.67, 128.76
47, 66.88, 145.68
48, 67.70, 116.82
49, 69.82, 143.62
50, 69.09, 134.93
51, 69.91, 147.02
52, 67.33, 126.33
53, 70.27, 125.48
54, 69.10, 115.71
55, 65.38, 123.49
56, 70.18, 147.89
57, 70.41, 155.90
58, 66.54, 128.07
59, 66.36, 119.37
60, 67.54, 133.81
61, 66.50, 128.73
62, 69.00, 137.55
63, 68.30, 129.76
64, 67.01, 128.82
65, 70.81, 135.32
66, 68.22, 109.61
67, 69.06, 142.47
68, 67.73, 132.75
69, 67.22, 103.53
70, 67.37, 124.73
71, 65.27, 129.31
72, 70.84, 134.02
73, 69.92, 140.40
74, 64.29, 102.84
75, 68.25, 128.52
76, 66.36, 120.30
77, 68.36, 138.60
78, 65.48, 132.96
79, 69.72, 115.62
80, 67.73, 122.52
81, 68.64, 134.63
82, 66.78, 121.90
83, 70.05, 155.38
84, 66.28, 128.94
85, 69.20, 129.10
86, 69.13, 139.47
87, 67.36, 140.89
88, 70.09, 131.59
89, 70.18, 121.12
90, 68.23, 131.51
91, 68.13, 136.55
92, 70.24, 141.49
93, 71.49, 140.61
94, 69.20, 112.14
95, 70.06, 133.46
96, 70.56, 131.80
97, 66.29, 120.03
98, 63.43, 123.10
99, 66.77, 128.14
100, 68.89, 115.48
101, 64.87, 102.09
102, 67.09, 130.35
103, 68.35, 134.18
104, 65.61, 98.64
105, 67.76, 114.56
106, 68.02, 123.49
107, 67.66, 123.05
108, 66.31, 126.48
109, 69.44, 128.42
110, 63.84, 127.19
111, 67.72, 122.06
112, 70.05, 127.61
113, 70.19, 131.64
114, 65.95, 111.90
115, 70.01, 122.04
116, 68.61, 128.55
117, 68.81, 132.68
118, 69.76, 136.06
119, 65.46, 115.94
120, 68.83, 136.90
121, 65.80, 119.88
122, 67.21, 109.01
123, 69.42, 128.27
124, 68.94, 135.29
125, 67.94, 106.86
126, 65.63, 123.29
127, 66.50, 109.51
128, 67.93, 119.31
129, 68.89, 140.24
130, 70.24, 133.98
131, 68.27, 132.58
132, 71.23, 130.70
133, 69.10, 115.56
134, 64.40, 123.79
135, 71.10, 128.14
136, 68.22, 135.96
137, 65.92, 116.63
138, 67.44, 126.82
139, 73.90, 151.39
140, 69.98, 130.40
141, 69.52, 136.21
142, 65.18, 113.40
143, 68.01, 125.33
144, 68.34, 127.58
145, 65.18, 107.16
146, 68.26, 116.46
147, 68.57, 133.84
148, 64.50, 112.89
149, 68.71, 130.76
150, 68.89, 137.76
151, 69.54, 125.40
152, 67.40, 138.47
153, 66.48, 120.82
154, 66.01, 140.15
155, 72.44, 136.74
156, 64.13, 106.11
157, 70.98, 158.96
158, 67.50, 108.79
159, 72.02, 138.78
160, 65.31, 115.91
161, 67.08, 146.29
162, 64.39, 109.88
163, 69.37, 139.05
164, 68.38, 119.90
165, 65.31, 128.31
166, 67.14, 127.24
167, 68.39, 115.23
168, 66.29, 124.80
169, 67.19, 126.95
170, 65.99, 111.27
171, 69.43, 122.61
172, 67.97, 124.21
173, 67.76, 124.65
174, 65.28, 119.52
175, 73.83, 139.30
176, 66.81, 104.83
177, 66.89, 123.04
178, 65.74, 118.89
179, 65.98, 121.49
180, 66.58, 119.25
181, 67.11, 135.02
182, 65.87, 116.23
183, 66.78, 109.17
184, 68.74, 124.22
185, 66.23, 141.16
186, 65.96, 129.15
187, 68.58, 127.87
188, 66.59, 120.92
189, 66.97, 127.65
190, 68.08, 101.47
191, 70.19, 144.99
192, 65.52, 110.95
193, 67.46, 132.86
194, 67.41, 146.34
195, 69.66, 145.59
196, 65.80, 120.84
197, 66.11, 115.78
198, 68.24, 128.30
199, 68.02, 127.47
200, 71.39, 127.88

<class 'str'>
El objeto lines es:
['"Index", Height(Inches)", "Weight(Pounds)"', '1, 65.78, 112.99', '2, 71.52, 136.49', '3, 69.40, 153.03', '4, 68.22, 142.34', '5, 67.79, 144.30', '6, 68.70, 123.30', '7, 69.80, 141.49', '8, 70.01, 136.46', '9, 67.90, 112.37', '10, 66.78, 120.67', '11, 66.49, 127.45', '12, 67.62, 114.14', '13, 68.30, 125.61', '14, 67.12, 122.46', '15, 68.28, 116.09', '16, 71.09, 140.00', '17, 66.46, 129.50', '18, 68.65, 142.97', '19, 71.23, 137.90', '20, 67.13, 124.04', '21, 67.83, 141.28', '22, 68.88, 143.54', '23, 63.48, 97.90', '24, 68.42, 129.50', '25, 67.63, 141.85', '26, 67.21, 129.72', '27, 70.84, 142.42', '28, 67.49, 131.55', '29, 66.53, 108.33', '30, 65.44, 113.89', '31, 69.52, 103.30', '32, 65.81, 120.75', '33, 67.82, 125.79', '34, 70.60, 136.22', '35, 71.80, 140.10', '36, 69.21, 128.75', '37, 66.80, 141.80', '38, 67.66, 121.23', '39, 67.81, 131.35', '40, 64.05, 106.71', '41, 68.57, 124.36', '42, 65.18, 124.86', '43, 69.66, 139.67', '44, 67.97, 137.37', '45, 65.98, 106.45', '46, 68.67, 128.76', '47, 66.88, 145.68', '48, 67.70, 116.82', '49, 69.82, 143.62', '50, 69.09, 134.93', '51, 69.91, 147.02', '52, 67.33, 126.33', '53, 70.27, 125.48', '54, 69.10, 115.71', '55, 65.38, 123.49', '56, 70.18, 147.89', '57, 70.41, 155.90', '58, 66.54, 128.07', '59, 66.36, 119.37', '60, 67.54, 133.81', '61, 66.50, 128.73', '62, 69.00, 137.55', '63, 68.30, 129.76', '64, 67.01, 128.82', '65, 70.81, 135.32', '66, 68.22, 109.61', '67, 69.06, 142.47', '68, 67.73, 132.75', '69, 67.22, 103.53', '70, 67.37, 124.73', '71, 65.27, 129.31', '72, 70.84, 134.02', '73, 69.92, 140.40', '74, 64.29, 102.84', '75, 68.25, 128.52', '76, 66.36, 120.30', '77, 68.36, 138.60', '78, 65.48, 132.96', '79, 69.72, 115.62', '80, 67.73, 122.52', '81, 68.64, 134.63', '82, 66.78, 121.90', '83, 70.05, 155.38', '84, 66.28, 128.94', '85, 69.20, 129.10', '86, 69.13, 139.47', '87, 67.36, 140.89', '88, 70.09, 131.59', '89, 70.18, 121.12', '90, 68.23, 131.51', '91, 68.13, 136.55', '92, 70.24, 141.49', '93, 71.49, 140.61', '94, 69.20, 112.14', '95, 70.06, 133.46', '96, 70.56, 131.80', '97, 66.29, 120.03', '98, 63.43, 123.10', '99, 66.77, 128.14', '100, 68.89, 115.48', '101, 64.87, 102.09', '102, 67.09, 130.35', '103, 68.35, 134.18', '104, 65.61, 98.64', '105, 67.76, 114.56', '106, 68.02, 123.49', '107, 67.66, 123.05', '108, 66.31, 126.48', '109, 69.44, 128.42', '110, 63.84, 127.19', '111, 67.72, 122.06', '112, 70.05, 127.61', '113, 70.19, 131.64', '114, 65.95, 111.90', '115, 70.01, 122.04', '116, 68.61, 128.55', '117, 68.81, 132.68', '118, 69.76, 136.06', '119, 65.46, 115.94', '120, 68.83, 136.90', '121, 65.80, 119.88', '122, 67.21, 109.01', '123, 69.42, 128.27', '124, 68.94, 135.29', '125, 67.94, 106.86', '126, 65.63, 123.29', '127, 66.50, 109.51', '128, 67.93, 119.31', '129, 68.89, 140.24', '130, 70.24, 133.98', '131, 68.27, 132.58', '132, 71.23, 130.70', '133, 69.10, 115.56', '134, 64.40, 123.79', '135, 71.10, 128.14', '136, 68.22, 135.96', '137, 65.92, 116.63', '138, 67.44, 126.82', '139, 73.90, 151.39', '140, 69.98, 130.40', '141, 69.52, 136.21', '142, 65.18, 113.40', '143, 68.01, 125.33', '144, 68.34, 127.58', '145, 65.18, 107.16', '146, 68.26, 116.46', '147, 68.57, 133.84', '148, 64.50, 112.89', '149, 68.71, 130.76', '150, 68.89, 137.76', '151, 69.54, 125.40', '152, 67.40, 138.47', '153, 66.48, 120.82', '154, 66.01, 140.15', '155, 72.44, 136.74', '156, 64.13, 106.11', '157, 70.98, 158.96', '158, 67.50, 108.79', '159, 72.02, 138.78', '160, 65.31, 115.91', '161, 67.08, 146.29', '162, 64.39, 109.88', '163, 69.37, 139.05', '164, 68.38, 119.90', '165, 65.31, 128.31', '166, 67.14, 127.24', '167, 68.39, 115.23', '168, 66.29, 124.80', '169, 67.19, 126.95', '170, 65.99, 111.27', '171, 69.43, 122.61', '172, 67.97, 124.21', '173, 67.76, 124.65', '174, 65.28, 119.52', '175, 73.83, 139.30', '176, 66.81, 104.83', '177, 66.89, 123.04', '178, 65.74, 118.89', '179, 65.98, 121.49', '180, 66.58, 119.25', '181, 67.11, 135.02', '182, 65.87, 116.23', '183, 66.78, 109.17', '184, 68.74, 124.22', '185, 66.23, 141.16', '186, 65.96, 129.15', '187, 68.58, 127.87', '188, 66.59, 120.92', '189, 66.97, 127.65', '190, 68.08, 101.47', '191, 70.19, 144.99', '192, 65.52, 110.95', '193, 67.46, 132.86', '194, 67.41, 146.34', '195, 69.66, 145.59', '196, 65.80, 120.84', '197, 66.11, 115.78', '198, 68.24, 128.30', '199, 68.02, 127.47', '200, 71.39, 127.88 ', '']
<class 'list'>
['"Index"', ' Height(Inches)"', ' "Weight(Pounds)"']

IndexError: list index out of range

# PROBAR POR QU√â NO FUNCIONA

In [232]:
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', "https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv")
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data

El estado de la respuesta es 200

In [233]:

    #El objeto response contiene un string binario, as√≠ que lo convertimos a un string descodific√°ndolo en UTF-8
    str_data = response.decode("utf-8")    
    print("El objeto str_data es:")
    print(str_data)
    print(type(str_data))

El objeto str_data es:
"Index", Height(Inches)", "Weight(Pounds)"
1, 65.78, 112.99
2, 71.52, 136.49
3, 69.40, 153.03
4, 68.22, 142.34
5, 67.79, 144.30
6, 68.70, 123.30
7, 69.80, 141.49
8, 70.01, 136.46
9, 67.90, 112.37
10, 66.78, 120.67
11, 66.49, 127.45
12, 67.62, 114.14
13, 68.30, 125.61
14, 67.12, 122.46
15, 68.28, 116.09
16, 71.09, 140.00
17, 66.46, 129.50
18, 68.65, 142.97
19, 71.23, 137.90
20, 67.13, 124.04
21, 67.83, 141.28
22, 68.88, 143.54
23, 63.48, 97.90
24, 68.42, 129.50
25, 67.63, 141.85
26, 67.21, 129.72
27, 70.84, 142.42
28, 67.49, 131.55
29, 66.53, 108.33
30, 65.44, 113.89
31, 69.52, 103.30
32, 65.81, 120.75
33, 67.82, 125.79
34, 70.60, 136.22
35, 71.80, 140.10
36, 69.21, 128.75
37, 66.80, 141.80
38, 67.66, 121.23
39, 67.81, 131.35
40, 64.05, 106.71
41, 68.57, 124.36
42, 65.18, 124.86
43, 69.66, 139.67
44, 67.97, 137.37
45, 65.98, 106.45
46, 68.67, 128.76
47, 66.88, 145.68
48, 67.70, 116.82
49, 69.82, 143.62
50, 69.09, 134.93
51, 69.91, 147.02
52, 67.33, 126.33
53, 70.27, 125.48
54, 69.10, 115.71
55, 65.38, 123.49
56, 70.18, 147.89
57, 70.41, 155.90
58, 66.54, 128.07
59, 66.36, 119.37
60, 67.54, 133.81
61, 66.50, 128.73
62, 69.00, 137.55
63, 68.30, 129.76
64, 67.01, 128.82
65, 70.81, 135.32
66, 68.22, 109.61
67, 69.06, 142.47
68, 67.73, 132.75
69, 67.22, 103.53
70, 67.37, 124.73
71, 65.27, 129.31
72, 70.84, 134.02
73, 69.92, 140.40
74, 64.29, 102.84
75, 68.25, 128.52
76, 66.36, 120.30
77, 68.36, 138.60
78, 65.48, 132.96
79, 69.72, 115.62
80, 67.73, 122.52
81, 68.64, 134.63
82, 66.78, 121.90
83, 70.05, 155.38
84, 66.28, 128.94
85, 69.20, 129.10
86, 69.13, 139.47
87, 67.36, 140.89
88, 70.09, 131.59
89, 70.18, 121.12
90, 68.23, 131.51
91, 68.13, 136.55
92, 70.24, 141.49
93, 71.49, 140.61
94, 69.20, 112.14
95, 70.06, 133.46
96, 70.56, 131.80
97, 66.29, 120.03
98, 63.43, 123.10
99, 66.77, 128.14
100, 68.89, 115.48
101, 64.87, 102.09
102, 67.09, 130.35
103, 68.35, 134.18
104, 65.61, 98.64
105, 67.76, 114.56
106, 68.02, 123.49
107, 67.66, 123.05
108, 66.31, 126.48
109, 69.44, 128.42
110, 63.84, 127.19
111, 67.72, 122.06
112, 70.05, 127.61
113, 70.19, 131.64
114, 65.95, 111.90
115, 70.01, 122.04
116, 68.61, 128.55
117, 68.81, 132.68
118, 69.76, 136.06
119, 65.46, 115.94
120, 68.83, 136.90
121, 65.80, 119.88
122, 67.21, 109.01
123, 69.42, 128.27
124, 68.94, 135.29
125, 67.94, 106.86
126, 65.63, 123.29
127, 66.50, 109.51
128, 67.93, 119.31
129, 68.89, 140.24
130, 70.24, 133.98
131, 68.27, 132.58
132, 71.23, 130.70
133, 69.10, 115.56
134, 64.40, 123.79
135, 71.10, 128.14
136, 68.22, 135.96
137, 65.92, 116.63
138, 67.44, 126.82
139, 73.90, 151.39
140, 69.98, 130.40
141, 69.52, 136.21
142, 65.18, 113.40
143, 68.01, 125.33
144, 68.34, 127.58
145, 65.18, 107.16
146, 68.26, 116.46
147, 68.57, 133.84
148, 64.50, 112.89
149, 68.71, 130.76
150, 68.89, 137.76
151, 69.54, 125.40
152, 67.40, 138.47
153, 66.48, 120.82
154, 66.01, 140.15
155, 72.44, 136.74
156, 64.13, 106.11
157, 70.98, 158.96
158, 67.50, 108.79
159, 72.02, 138.78
160, 65.31, 115.91
161, 67.08, 146.29
162, 64.39, 109.88
163, 69.37, 139.05
164, 68.38, 119.90
165, 65.31, 128.31
166, 67.14, 127.24
167, 68.39, 115.23
168, 66.29, 124.80
169, 67.19, 126.95
170, 65.99, 111.27
171, 69.43, 122.61
172, 67.97, 124.21
173, 67.76, 124.65
174, 65.28, 119.52
175, 73.83, 139.30
176, 66.81, 104.83
177, 66.89, 123.04
178, 65.74, 118.89
179, 65.98, 121.49
180, 66.58, 119.25
181, 67.11, 135.02
182, 65.87, 116.23
183, 66.78, 109.17
184, 68.74, 124.22
185, 66.23, 141.16
186, 65.96, 129.15
187, 68.58, 127.87
188, 66.59, 120.92
189, 66.97, 127.65
190, 68.08, 101.47
191, 70.19, 144.99
192, 65.52, 110.95
193, 67.46, 132.86
194, 67.41, 146.34
195, 69.66, 145.59
196, 65.80, 120.84
197, 66.11, 115.78
198, 68.24, 128.30
199, 68.02, 127.47
200, 71.39, 127.88

<class 'str'>

In [234]:

    #Dividimos el string en un array de filas, separ√°ndolo por intros
    lines = str_data.split("\n")
    print("El objeto lines es:")
    print(lines)
    print(type(lines))

El objeto lines es:
['"Index", Height(Inches)", "Weight(Pounds)"', '1, 65.78, 112.99', '2, 71.52, 136.49', '3, 69.40, 153.03', '4, 68.22, 142.34', '5, 67.79, 144.30', '6, 68.70, 123.30', '7, 69.80, 141.49', '8, 70.01, 136.46', '9, 67.90, 112.37', '10, 66.78, 120.67', '11, 66.49, 127.45', '12, 67.62, 114.14', '13, 68.30, 125.61', '14, 67.12, 122.46', '15, 68.28, 116.09', '16, 71.09, 140.00', '17, 66.46, 129.50', '18, 68.65, 142.97', '19, 71.23, 137.90', '20, 67.13, 124.04', '21, 67.83, 141.28', '22, 68.88, 143.54', '23, 63.48, 97.90', '24, 68.42, 129.50', '25, 67.63, 141.85', '26, 67.21, 129.72', '27, 70.84, 142.42', '28, 67.49, 131.55', '29, 66.53, 108.33', '30, 65.44, 113.89', '31, 69.52, 103.30', '32, 65.81, 120.75', '33, 67.82, 125.79', '34, 70.60, 136.22', '35, 71.80, 140.10', '36, 69.21, 128.75', '37, 66.80, 141.80', '38, 67.66, 121.23', '39, 67.81, 131.35', '40, 64.05, 106.71', '41, 68.57, 124.36', '42, 65.18, 124.86', '43, 69.66, 139.67', '44, 67.97, 137.37', '45, 65.98, 106.45', '46, 68.67, 128.76', '47, 66.88, 145.68', '48, 67.70, 116.82', '49, 69.82, 143.62', '50, 69.09, 134.93', '51, 69.91, 147.02', '52, 67.33, 126.33', '53, 70.27, 125.48', '54, 69.10, 115.71', '55, 65.38, 123.49', '56, 70.18, 147.89', '57, 70.41, 155.90', '58, 66.54, 128.07', '59, 66.36, 119.37', '60, 67.54, 133.81', '61, 66.50, 128.73', '62, 69.00, 137.55', '63, 68.30, 129.76', '64, 67.01, 128.82', '65, 70.81, 135.32', '66, 68.22, 109.61', '67, 69.06, 142.47', '68, 67.73, 132.75', '69, 67.22, 103.53', '70, 67.37, 124.73', '71, 65.27, 129.31', '72, 70.84, 134.02', '73, 69.92, 140.40', '74, 64.29, 102.84', '75, 68.25, 128.52', '76, 66.36, 120.30', '77, 68.36, 138.60', '78, 65.48, 132.96', '79, 69.72, 115.62', '80, 67.73, 122.52', '81, 68.64, 134.63', '82, 66.78, 121.90', '83, 70.05, 155.38', '84, 66.28, 128.94', '85, 69.20, 129.10', '86, 69.13, 139.47', '87, 67.36, 140.89', '88, 70.09, 131.59', '89, 70.18, 121.12', '90, 68.23, 131.51', '91, 68.13, 136.55', '92, 70.24, 141.49', '93, 71.49, 140.61', '94, 69.20, 112.14', '95, 70.06, 133.46', '96, 70.56, 131.80', '97, 66.29, 120.03', '98, 63.43, 123.10', '99, 66.77, 128.14', '100, 68.89, 115.48', '101, 64.87, 102.09', '102, 67.09, 130.35', '103, 68.35, 134.18', '104, 65.61, 98.64', '105, 67.76, 114.56', '106, 68.02, 123.49', '107, 67.66, 123.05', '108, 66.31, 126.48', '109, 69.44, 128.42', '110, 63.84, 127.19', '111, 67.72, 122.06', '112, 70.05, 127.61', '113, 70.19, 131.64', '114, 65.95, 111.90', '115, 70.01, 122.04', '116, 68.61, 128.55', '117, 68.81, 132.68', '118, 69.76, 136.06', '119, 65.46, 115.94', '120, 68.83, 136.90', '121, 65.80, 119.88', '122, 67.21, 109.01', '123, 69.42, 128.27', '124, 68.94, 135.29', '125, 67.94, 106.86', '126, 65.63, 123.29', '127, 66.50, 109.51', '128, 67.93, 119.31', '129, 68.89, 140.24', '130, 70.24, 133.98', '131, 68.27, 132.58', '132, 71.23, 130.70', '133, 69.10, 115.56', '134, 64.40, 123.79', '135, 71.10, 128.14', '136, 68.22, 135.96', '137, 65.92, 116.63', '138, 67.44, 126.82', '139, 73.90, 151.39', '140, 69.98, 130.40', '141, 69.52, 136.21', '142, 65.18, 113.40', '143, 68.01, 125.33', '144, 68.34, 127.58', '145, 65.18, 107.16', '146, 68.26, 116.46', '147, 68.57, 133.84', '148, 64.50, 112.89', '149, 68.71, 130.76', '150, 68.89, 137.76', '151, 69.54, 125.40', '152, 67.40, 138.47', '153, 66.48, 120.82', '154, 66.01, 140.15', '155, 72.44, 136.74', '156, 64.13, 106.11', '157, 70.98, 158.96', '158, 67.50, 108.79', '159, 72.02, 138.78', '160, 65.31, 115.91', '161, 67.08, 146.29', '162, 64.39, 109.88', '163, 69.37, 139.05', '164, 68.38, 119.90', '165, 65.31, 128.31', '166, 67.14, 127.24', '167, 68.39, 115.23', '168, 66.29, 124.80', '169, 67.19, 126.95', '170, 65.99, 111.27', '171, 69.43, 122.61', '172, 67.97, 124.21', '173, 67.76, 124.65', '174, 65.28, 119.52', '175, 73.83, 139.30', '176, 66.81, 104.83', '177, 66.89, 123.04', '178, 65.74, 118.89', '179, 65.98, 121.49', '180, 66.58, 119.25', '181, 67.11, 135.02', '182, 65.87, 116.23', '183, 66.78, 109.17', '184, 68.74, 124.22', '185, 66.23, 141.16', '186, 65.96, 129.15', '187, 68.58, 127.87', '188, 66.59, 120.92', '189, 66.97, 127.65', '190, 68.08, 101.47', '191, 70.19, 144.99', '192, 65.52, 110.95', '193, 67.46, 132.86', '194, 67.41, 146.34', '195, 69.66, 145.59', '196, 65.80, 120.84', '197, 66.11, 115.78', '198, 68.24, 128.30', '199, 68.02, 127.47', '200, 71.39, 127.88 ', '']
<class 'list'>

In [235]:

    #La primera l√≠nea contiene la cabecera, as√≠ que la extraemos
    cols = lines[0].split(",")
    n_cols = len(cols)
    print(n_cols)

3

In [236]:

    #Generamos un diccionario vac√≠o donde ir√° la informaci√≥n procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in cols:
        main_dict[col] = []

In [237]:

    #Procesamos fila a fila la informaci√≥n para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera l√≠nea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(",")
            #A√±adimos cada valor a su respectiva columna del diccionario
            for i in range(len(cols)):
                main_dict[cols[i]].append(values[i])
        counter += 1

IndexError: list index out of range